@define-color background @card_bg_color;

.launcher-container {
  min-width: 800px;
  min-height: 400px;
  padding: 30px;
  border-radius: 10px;
  background-color: alpha(@background, 0.9);
  border: 1px solid alpha(@dark_1, 0.3);
}

.launcher-container:backdrop {
  box-shadow: 20px 20px 20px 20px @background;
}

.launcher-container button {
  background-color: transparent
}

.launcher-container button:focus {
  background-color: @accent_color;
  color: @accent_fg_color
}

.launcher-container image {
  font-size: 42px
}
