@define-color foreground rgb(255,255,255);
@define-color background rgba(0,0,0, 0.9);
@define-color group rgba(200,200,200,0.3);
@define-color hover rgba(20, 20, 20, 0.5);

* {
  font-size: 16px;
  font-family: "JetBrainsMono Nerd Font";
  min-height: 10px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
}


menu,
tooltip {
  border-radius: 8px;
  padding: 10px;
  border: 1px solid @hover;
  background: #ffffff;
  color: @background;
}

menu separator, tooltip separator {
  margin: 2px 0;
  min-height: 1px;
}

menu label,
tooltip label {
  padding: 2px 10px;
  font-size: 14px;
  font-family: "Adwaita Sans";
  color: @background;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background: @background;
  color: @foreground;
}

.modules-left,
.modules-right,
.modules-center {
  padding: 6px 16px;
}

#workspaces button {
  transition-property: color;
  transition-duration: 0.5s;
  background: transparent;
  color: @foreground;
  padding-right: 5px;
}

#workspaces button.urgent {
  color: @orange_3;
}

#workspaces button.active {
  color: @accent_bg_color;
}

#clock {
  transition-property: color;
  transition-duration: 0.5s;
  color: alpha(@foreground, 0.8);
  font-family: "Inter";
  font-size: 14px;
  font-weight: bold;
}

#privacy {
  padding: 0 10px;
}

#privacy-item.screenshare {
  color: @red_3;
}

#privacy-item.audio-in {
  color: @orange_3;
}

#network.disabled {
  color: alpha(@foreground, 0.3);
}

#power-profiles-daemon {
  padding: 0 15px 0 12px;
  border-radius: 10px;
  color: @foreground;
}
#power-profiles-daemon.performance {
  background-color: @red_3;
}

#power-profiles-daemon.balanced {
  background-color: @orange_3;
}

#power-profiles-daemon.power-saver {
  background-color: @green_4;
}

#idle_inhibitor,
#custom-notification,
#bluetooth,
#network,
#pulseaudio,
#backlight,
#battery,
#custom-power {
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 10px;
  margin: 1px 2px;
}

#custom-notification:hover,
#bluetooth:hover,
#network:hover,
#pulseaudio:hover,
#backlight:hover {
  background-color: @accent_bg_color;
}

#idle_inhibitor:hover,
#custom-power:hover {
  background-color: @red_3;
}

#idle_inhibitor.activated {
  background-color: @red_3;
}


#battery.warning {
  color: @orange_3;
}

#battery.critical {
  color: @red_3;
}

#tray {
  padding-right: 10px;
}

#outputs {
  background-color: @group;
  padding: 0 10px;
  margin: 1px 10px;
  border-radius: 10px;
}

#connections {
  background-color: @group;
  padding: 0 10px 0 8px;
  margin: 1px 3px;
  border-radius: 10px;
}

/* Icons */

#battery {
  padding: 0 2px;
}

#backlight {
  padding: 0 14px 0 10px;
}

#pulseaudio {
  padding: 0 12px 0 12px;
}

#network {
  padding: 0 14px 0 10px;
}

#bluetooth {
  padding: 0 14px;
}

#bluetooth.disabled {
  padding: 0;
  margin: 0;
}

#custom-notification {
  padding: 0 10px 0 9px;
  margin-right: 6px;
}

#idle_inhibitor {
  padding: 0 8px 0 8px;
}
