# ~/.config/starship.toml

[character]
success_symbol = "[❯](bold green)[❯](bold blue)[❯](bold yellow)"
error_symbol = "[](bold red) "

[cmd_duration]
min_time = 10_000  # Show command duration over 10,000 milliseconds (=10 sec)
format = " took [$duration]($style)"

[directory]
truncation_length = 5
# format = "[$path]($style)[$lock_symbol]($lock_style) "

[git_branch]
format = "on [$symbol$branch]($style) "
symbol = "[](bold purple) "
style = "bold yellow"

[git_commit]
commit_hash_length = 8
style = "bold white"

[git_state]
format = '[\($state( $progress_current of $progress_total)\)]($style) '

[git_status]
conflicted = "[](bold red) "
ahead = "[](bold green) ×${count} "
behind = "[](bold green) ×${count} "
diverged = "[](bold green) ×${ahead_count} [](bold green) ×${behind_count} "
untracked = "[](bold yellow) ×${count} "
stashed = "[](bold yellow) "
modified = "[](bold yellow) ×${count} "
staged = "[](bold green) ×${count} "
renamed = "[](bold green) ×${count} "
deleted = "[](bold red) ×${count} "
style = "bright-white"
format = "$all_status$ahead_behind"

[hostname]
ssh_only = false
format = "<[$hostname]($style)>"
trim_at = "-"
style = "bold dimmed white"
disabled = true

[package]
disabled = true

[python]
format = "[$symbol$version]($style) "
symbol = "[ ](bold green)"
style = "bold green"

[rust]
format = "[$symbol$version]($style) "
style = "bold green"

[lua]
format = "[$symbol$version]($style) "
symbol = "[](bold yellow)"
style = "bold green"

[time]
time_format = "%T"
format = "$time($style) "
style = "bright-white"
disabled = false

[username]
style_user = "bold dimmed blue"
show_always = false
