.volume-floating-indicator {
  background: transparent
}

.volume-indicator-inner {
  min-width: 300px;
  border-radius: 20px;
  margin: 30px;
  padding: 20px 20px;
  background-color: @insensitive_base_color;
  color: @theme_fg_color;
  border: 2px solid @borders;
}

.brightness-floating-indicator {
  background: transparent
}

.brightness-indicator-inner {
  min-width: 300px;
  border-radius: 20px;
  margin: 120px;
  padding: 20px 20px;
  background-color: @insensitive_base_color;
  color: @theme_fg_color;
  border: 2px solid @borders;
}


.f-i-slider highlight {
  padding: 3px;
  border-radius: 10px;
  background-color: @theme_selected_bg_color
}

.f-i-slider slider {
  all: unset;
}

.f-i-slider trough {
  border-radius: 10px;
}

