* {
   font-family: "SauceCodePro Nerd Font"
}
window {
  opacity: 0.9;
  margin: 0px;
  padding: 10px;
  border: 0.16em solid @theme_selected_bg_color;
  border-radius: 10px;
  background-color: @theme_bg_color;
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @theme_bg_color;
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @theme_bg_color;
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: @theme_bg_color;
}

/* Input */
#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-radius: 0.1em;
  color: @text;
  background-color: @theme_bg_color;
}

#input image {
    border: none;
    color: @red;
}

/* Text */
#text {
  margin: 5px;
  border: none;
  color: @text;
}

#entry {
  background-color: @theme_bg_color;
}

/* Selected Entry */
#entry:selected {
  border: 0.11em solid @theme_selected_bg_color;
}
