.controlcentre {
  min-width: 400px;
  color: @theme_fg_color;
}

.controlcentre image {
  font-size: 20px
}

.controlcentre button:hover {
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}

.slider-controls-container {
  border-radius: 10px;
  padding: 10px 20px;
  background-color: @hover_color;
}

.slider-controls slider {
  padding: 3px;
  outline-style: none
}

.slider-controls trough,
.slider-controls highlight {
  border-radius: 10px
}

.control-button {
  border-radius: 10px;
  font-weight: bold;
  padding: 10px;
}

.control-button.active {
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}

.utilities-container {
  border-radius: 10px;
  padding: 10px 20px;
  background-color: @hover_color;
}

.utilities-container .utility {
  background: transparent
}

.notifications-container {
  min-height: 200px;
}

.notifications-container .label {
  font-size: 24px;
  font-weight: bold
}

.media-container {
  min-height: 160px
}

.player {
  padding: 10px;
  min-width: 350px;
}

.player .img {
  min-width: 100px;
  min-height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 13px;
  margin-right: 1em;
}

.player .title {
  font-size: 1.2em;
}

.player .artist {
  font-size: 1.1em;
  color: @insensitive_fg_color;
}

.player scale.position {
  padding: 0;
  margin-bottom: .3em;
}

.player scale.position trough {
  min-height: 8px;
  border-radius: 10px
}

.player scale.position highlight {
  background-color: @theme_selected_bg_color;
  border-radius: 10px
}

.player scale.position slider {
  all: unset;
}

.player button {
  min-height: 1em;
  min-width: 1em;
  padding: .5em;
  background: transparent
}
