@define-color hover_color #30303E;

.bar {
  background-color: @theme_bg_color;
  color: @theme_fg_color;
}

.icon {
  font-size: 22px
}

.bar button {
  min-width: 0;
  padding-bottom: 0;
  padding-top: 0;
  background-color: transparent;
  min-height: 30px;
  border-radius: 10px;
  margin: 5px;
}

.systemtray-label {
  border-radius: 10px;
  margin: 5px;
  background-color: @hover_color
}

.systemtray-label button {
  margin: 0;
}

.workspaces button.focused {
  background-color: @hover_color;
}

/* All Popups */

.popup {
  background-color: transparent
}

.popup-inner {
  opacity: 0.95;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;

  background-color: @theme_bg_color;
  border: 2px solid @theme_selected_bg_color;
}

/* Quick Settings Popup */

.quicksettings {
  min-width: 400px;
}

.quicksettings .backlight-label,
.quicksettings .battery-label,
.quicksettings .volume-label {
  min-width: 80px
}


levelbar block,
highlight,
fill {
  min-height: 20px;
}

/* Media Player Popup */

.mediaplayer {
  min-width: 400px
}
