.bar {
  background-color: @theme_bg_color;
  color: @theme_fg_color;
}

.bar button {
  min-width: 0;
  padding-top: 0;
  padding-bottom: 3px;
  background-color: transparent;
  min-height: 30px;
  border-radius: 0
}

.bar button:active {
  background-color: @theme_selected_bg_color;
}

.bar button:hover {
  padding-bottom: 0;
  border-bottom: 3px solid @theme_fg_color;
}

.workspaces button.focused {
  padding-bottom: 0;
  border-bottom: solid 3px @theme_fg_color;
}

.quicksettings {
  background-color: transparent
}

.quicksettings-inner {
  opacity: 0.9;
  background-color: @theme_bg_color;
  border: 2px solid @theme_selected_bg_color;
  border-radius: 10px;
  font-size: 18px;
  margin: 5px;
  padding: 20px;
  min-width: 500px;
  min-height: 200px;
}

.quicksettings .backlight-label-icon {
  font-size: 25px;
}

.quicksettings .backlight-label,
.quicksettings .battery-label,
.quicksettings .volume-label {
  min-width: 100px
}


levelbar block,
highlight,
fill {
  min-height: 20px;
}
